[Desktop Entry]
Name=LostIRC
Comment=Chat on IRC-networks
Comment[da]=Chat på IRC-netværk
TryExec=lostirc
Exec=lostirc
Icon=lostirc.png
Terminal=false
Type=Application
Categories=Application;Network;
