[Desktop Entry]
Name=LostIRC
Comment=An IRC client
Comment[da]=En IRC klient
TryExec=lostirc
Exec=lostirc
Icon=lostirc.png
Terminal=false
Type=Application
Categories=Application;Network;
