[Desktop Entry]
Encoding=UTF-8
Name=LostIRC
Comment=Chat on IRC-networks
Comment[da]=Chat på IRC-netværk
Comment[fr]=Chat sur les réseaux IRC
TryExec=lostirc
Exec=lostirc
Icon=lostirc.png
Terminal=false
Type=Application
Categories=Application;Network;
